@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* background-image: linear-gradient(45deg, #11998e, #38ef7d); */
  background-color: whitesmoke;
  background-repeat: no-repeat;


}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
}

::-webkit-scrollbar-track {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}